/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Bb]uild/
/[Bb]uilds/
/.vs/
/.idea/
*.csproj
*.sln
*.slnx
*.pidb
*.booproj
*.user
*.userprefs
*.pdb
*.mdb
*.opendb
*.VC.db
.DS_Store
Thumbs.db
**/.venv/
**/__pycache__/
/Recordings/
/recordings/
/DigiPhantStarter/
/Assets/Elephant/
/Assets/Elephant.meta
*.unitypackage
.env
.env.*
